name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      id: go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Check out code
      uses: actions/checkout@v2

    - name: Build
      run: CGO_ENABLED=0 go run ./cmd/repos b repos:*
      shell: bash

    - name: Save artifacts
      uses: actions/upload-artifact@v2
      with:
        name: binaries
        path: out/repos/out/bin
